# Interswitch Credentials
NEXT_PUBLIC_INTERSWITCH_CLIENT_ID=your_client_id_here
INTERSWITCH_SECRET=your_secret_key_here
INTERSWITCH_ENV=sandbox

# Database
DATABASE_URL=postgresql://postgres:OAot9rBNqplxWqlj@db.kmqoiubpykosfdfwiaul.supabase.co:5432/postgres


# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXTAUTH_SECRET=a_very_random_string_for_production